.setone{
	width:1284px;
	height:36px;
	background:url(img/img1.gif) repeat;
}
.settwo{
	width: 1284px;
	height:1384px;
	background: url(img/img2.gif) repeat;
	position: absolute;
	top: 44px
}
.setthree{
	width: 1007px;
	height: 635px;
	background: url(img/img3.gif) repeat;
	position:absolute;
	top:676px;
	left: 185px; 
}
.setfour{
    width: 58px;
	height: 27px;
	background: url(img/img33.gif);
	position:absolute;
	top:384px;
	left: 732px; 

}
.setfive{
	position: absolute;
	top: 17px;
	left: 185px;
	width: 132.53px;
	height: 12px;
	background: url(img/img9.gif);
}
.setsix{
	position: absolute;
	width: 1284px;
	height: 25px;
	background: url(img/img23.gif);
}
.seteidht{
	position: absolute;
	top:37px;
	left: 907px;
	width: 220px;
	height: 32px;
	background: url(img/img6.gif);
}
.setnine{
	width: 990px;
	height: 433px;
	position: absolute;
	top: 173px;
	left: 175px;
	background: url(img/img24.gif);
}
.setten{
	position: absolute;
	top:3px;
	left: 213px;
	background: url(img/img8.gif);
	width: 2px;
	height: 23px;
}
.setelven{
	position: absolute;
	top: 63px;
	left: 1px;
	width: 500px;
	height: 1px;
	background: url(img/img25.gif);


}
.settwlve{
	position: absolute;
	top: 63px;
	right: 26px;
	width: 311px;
	height: 1px;
	background: url(img/img25.gif);


}
.setthirteen{
	position: absolute;
	top: 365px;
	right: 26px;
	width: 311px;
	height: 1px;
	background: url(img/img25.gif);


}
.setfourteen{
	position: absolute;
	top: 365px;
	left: 1px;
	width: 500px;
	height: 1px;
	background: url(img/img25.gif);


}
.setfifteen{
	position: absolute;
	top: 442px;
	right: 22px;
	width: 249px;
	height: 153px;
	background: url(img/img21.gif);
}
.setsixteen{
   position: absolute;
	top: 23px;
	right: 244px;
	width: 94px;
	height: 18px;
	background: url(img/img27.gif);

}
.setseventeen{
   position: absolute;
	top: 23px;
    left: 33px;
	width: 129px;
	height: 18px;
	background: url(img/img28.gif);
}
.seteighteen{
   position: absolute;
	top: 333px;
    left: 33px;
	width: 148px;
	height: 18px;
	background: url(img/img30.gif);
}
.setnineteen{
 position: absolute;
	top: 333px;
	right: 244px;
	width: 85px;
	height: 18px;
	background: url(img/img32.gif);
}
.settwenty{
 position: absolute;
	top: 81px;
	right: 22px;
	width: 243px;
	height: 189px;
}
.settwentyo{
    width: 57px;
	height: 28px;
	background: url(img/img33.gif);
	position:absolute;
	top:246px;
	left: 33px; 

}
.settwentyt{
	width: 575px;
	height: 136px;
	background: url(img/img35.gif);
	position:absolute;
	top:85px;
	left: 23px; 
}
.setwentyhr{
	width: 556px;
	height: 27px;
	background: url(img/img34.gif);
	position:absolute;
	top:387px;
	left: 23px; 
}
.settwentyf{
	width: 1335px;
	height: 40px;
	position: absolute;
	top: 17px;
	background: url(img/img7.gif);
}
.settwentyfi{
	width: 245px;
	height: 35px;
	position: absolute;
	top: 37px;
	left: 185px;
	background: url(img/img36.gif);
}
.settwentys{
	width: 253px;
	height: 19px;
	position: absolute;
	top: 385px;
	left: 202px;
	background: url(img/img37.gif);
}
.settwentyse{
	width: 946px;
	height: 67px;
	position: absolute;
	top: 92px;
	left: 185px;
	background: url(img/img5.gif);
}
.settwentye{
	width: 589px;
	height: 161px;
	position: absolute;
	top: 441px;
	left: 25px;
	background: url(img/img45.gif);
}
.settwentn{
	width: 526px;
	height: 103px;
	position: absolute;
	top: 475px;
	left: 52px;
	background: url(img/img44.gif);
}
.setthirty{
	width: 211px;
	height: 98px;
	position: absolute;
	top: 333px;
	left: 653px;
	background: url(img/img43.gif);
}
.setthirtyo{
	width: 309px;
	height: 10px;
	position: absolute;
	top: 683px;
	left: 685px;
	background: url(img/img39.gif);
}
.setthirtyt{
	width: 381px;
	height: 10px;
	position: absolute;
	top: 683px;
	left: 1px;
	background: url(img/img40.gif);
}

.navframe{
	width: 947px;
	height: 67px;
	position: absolute;
	top: 99px;
	left: 186px;
	background:url(img/img11.gif);
}

.nav ul{
	list-style: none;
	border: 1px;
	padding: 2px;
	margin: 0px;
}
.nav ul li{
	float: left;
	width: 102px;
	height: 60px;
	text-align: center;
	margin: 0px;
	line-height: 64px;
	border: 1px solid black;
    color: white;
} 
.nav ul li:hover{
	background-color: #4fa2cc;
}
.style>ul>li{
	width: 358px;
	height: 32px
}

.style>ul>li>a{  
	list-style: none;
		
}
.style>ul>li:hover{
	color: #ffffff


}

li:hover{
	color: #ffffff
}
.search{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100px;
	height: 32px;
	background-color: #000000;
}
.style>li {   
 text-align: center;   
 float: left;   
 width: 70px;   
 margin: 3px;   
 padding: 3px;   
 list-style-type: none;  
}   
.style{
	overflow:hidden;
	position: absolute;
	top:77px;
	left:604px;
	width:395px;

}
.contact{
	position: absolute;
	right: 1px;
	top: 357px
}

.nave>ul:hover{
	background-color: #4fa2cc;
}
.web{
	
	position: absolute;
	top: 2px;
	left: -31px;
	width: 87px;
	height: 20px
}
.web>a{
	text-decoration: none
}
.webl>a{
	position: absolute;
	right: 14px;
	top: 2px;
	text-decoration: none;
}
